.bug {
    background-color: #A8B720d0;
}

.dark {
    background-color: #725847d0;
}

.dragon {
    background-color: #6F38F6d0;
}

.electric {
    background-color: #F7CF2Ed0;
}

.fairy {
    background-color: #F9AEC7d0;
}

.fire {
    background-color: #EE7F30d0;
}

.fighting {
    background-color: #BF3029d0;
}

.flying {
    background-color: #A98FF0d0;
}

.ghost {
    background-color: #6E5896d0;
}

.grass {
    background-color: #76c850d0;
}

.ground {
    background-color: #DFBF69d0;
}

.ice {
    background-color: #98D5D7d0;
}

.normal {
    background-color: #A6A877d0;
}

.poison {
    background-color: #A040A0d0;
}

.psychic {
    background-color: #F65687d0;
}

.rock {
    background-color: #B8A137d0;
}

.steel {
    background-color: #B9B7CFd0;
}

.water {
    background-color: #678FEEd0;
}